{% extends 'base.html' %}



{% block content %}


    <div class="container-fluid justify-content-center">
	    <div class="row">
		    <div class="col my-4">
                <img id="beach-dogs" src="https://i.ibb.co/sWBSB2c/beach-dogs.jpg" alt="beach-dogs">
            </div>
		</div>
	</div>


	<section>

		<h3 class="contact">Contact Us</h3>

		<div class="container-fluid">

			<div class="center-form">

				<form id="form" onsubmit="return sendMail(this);">

					<input required="required" type="text" name="name" class="form-control" id="fullname" placeholder="Name" />

					<input required="required" type="email" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" size="30" />

					<textarea required="required" rows="5" name="enquiry" class="form-control" id="enquiry" placeholder="Your Message"></textarea>

					<button id="contact" type="submit" class="btn btn-primary center-block">Submit</button>

				</form>

			</div>

		</div>

	</section>
	{% endblock %}