{% extends 'base.html' %}


{% block content %}

<div class="container-fluid justify-content-center">
	<div class="row">
		<div class="col my-4">
			<img id="collage1" src="https://i.ibb.co/NxWw4my/collage1.jpg" alt="collage1">
            </div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="container py-2">

					<!-- Header and intro -->
					<div class="row">
						<header id="home-header" class="col-12 text-center">
							<h1>Cool Pets</h1>
							<h2>A Warm Welcome to our Customers</h2>

							<p>Welcome to Cool Pets, your number one source for all things pet related.</p>
							<p>We are dedicated to giving you the very best pet products, with a focus on dogs.</p>
							<a href="{% url 'about' %}" class="btn btn-primary btn-cta">Learn More</a>
							<!-- link to about page later -->

						</header>
					</div>

					<!-- Shop sections -->
					<div class="row mt-3">
						<!-- top two columns bigger on desktop -->
						<div class="col-12 col-sm-6 home-category-wrapper-lg">
							<a href="{% url 'leashes' %}">
								<div id="category-img-1"
									class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
									title="Browse leashes">
									<div class="category-heading-box text-center">
										<h3>Leashes</h3>
									</div>
								</div>
							</a>

						</div>
						<div class="col-12 col-sm-6 home-category-wrapper-lg">
							<a href="{% url 'collars' %}">
								<div id="category-img-2"
									class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
									title="Browse collars">
									<div class="category-heading-box text-center">
										<h3>Collars</h3>
									</div>
								</div>
							</a>

						</div>

						<div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
							<a href="{% url 'beds' %}">
								<div id="category-img-3"
									class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
									title="Browse beds">
									<div class="category-heading-box text-center">
										<h3>Beds</h3>
									</div>
								</div>
							</a>

						</div>
						<div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
							<a href="{% url 'carriers' %}">
								<div id="category-img-4"
									class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
									title="Browse carriers">
									<div class="category-heading-box text-center">
										<h3>Carriers</h3>
									</div>
								</div>
							</a>

						</div>
						<div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
							<a href="{% url 'feeding' %}">
								<div id="category-img-5"
									class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
									title="Browse feeding">
									<div class="category-heading-box text-center">
										<h3>Feeding</h3>
									</div>
								</div>
							</a>

						</div>
						<div class="col-12 col-sm-6 col-lg-3 home-category-wrapper">
							<a href="{% url 'harnesses' %}">
								<div id="category-img-6"
									class="category-img d-flex align-items-end small-box-shadow sm-box-shadow-hover"
									title="Browse harnesses">
									<div class="category-heading-box text-center">
										<h3>Harnesses</h3>
									</div>
								</div>
							</a>

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- Featured listings -->
	<div id="featured-listings-home" class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="container p-3">
					<div class="row">
						<div class="col-12 text-center">
							<h3>Featured Listings</h3>
						</div>
						{% for product in featured_products %}
						<div
							class="col-12 col-sm-6 col-md-4 col-lg-3 listing-card-padding {% if forloop.counter >= 5 %} d-lg-none {% endif %} ">
							<a href="{{ product.get_absolute_url }}">
								<div class="listing-card mx-auto">
									<div class="listing-img-wrapper">
										<div class="listing-img small-box-shadow sm-box-shadow-hover"
											style="background-image: url('{{ product.product_image1.url}}');">

										</div>
									</div>

									<div class="listing-info d-flex justify-content-between">
										<h5>{{ product.title }}</h5>
										<p>${{ product.price }}</p>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}

						<div class="col-12 text-center">
							<a href="{% url 'all-products' %}" class="btn btn-cta btn-primary">Browse more</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}